<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>I/O virtual</title>
	</head>
	<body>
		<embed src="/images/iovirt_viewer_xuguojun.swf" quality="high" bgcolor="#869ca7"
		width="1024" height="768" name="iovirt" align="middle"
		play="true"
		loop="false"
		quality="high"
		hiden = "no"
		units="pixels"
		allowScriptAccess="always"
		type="application/x-shockwave-flash"
		pluginspage="http://www.adobe.com/go/getflashplayer">
		</embed>
	</body>
</html>
